{
	"extends": "airbnb-base",
	"env": {
		"browser": true
	},
	"globals": {
		"chrome": true,
		"JSZip": true,
	},
	"parserOptions": {
		"ecmaVersion": 6
	},
	"rules": {
		"no-alert": 0,
		"no-use-before-define": 0,
		"indent": ["error", 4, {
            "SwitchCase": 1,
            "VariableDeclarator": 1,
            "outerIIFEBody": 1,
            "FunctionDeclaration": {
                "parameters": 1,
                "body": 1
            },
            "FunctionExpression": {
                "parameters": 1,
                "body": 1
            }
        }]
	}
}
